.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 60px;
}

.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 45px;
  width: 96%;
}

.footer_content_left,
.footer_content_right,
.footer_content_center {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.footer_content_left li,
.footer_content_right li,
.footer_content_center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer_content_right p,
.footer_content_center p {
  color: aliceblue;
  font-size: 22px;
  font-weight: 600;
}

.footer_copy_right {
  font-weight: 400;
}
.footer hr {
  width: 100%;
  height: 2px;
  background-color: #707070;
}
.footer_social_icon img {
  margin-right: 10px;
}

@media (max-width: 1050px) {
  .footer_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .footer_copy_right {
    text-align: center;
  }
}
