.place_order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  margin-top: 80px;
}

.place_order_left {
  width: 100%;
  max-width: max(30%, 500px);
}
.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
}
.place_order_left input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 3px;

  border: 1px solid #c9c9c9;
  outline-color: tomato;
}

.place_order_left .multi_fields {
  display: flex;
  gap: 12px;
}

.place_order_right {
  width: 100%;
  max-width: max(34%, 500px);
}
.cart_total hr {
  border: none;
  background-color: #e2e2e2;
  height: 1px;
}
.cart_total button {
  margin-top: 22px;
}
