.Food_Download_app {
  margin: auto auto;
  margin-top: 80px;
  text-align: center;
  font-weight: 500;
  font-size: max(3vw, 18px);
}

.app_download_platform {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.app_download_platform img {
  width: max(30vw, 120px);
  max-width: 180px;
  transition: 0.3s;
  cursor: pointer;
}
.app_download_platform img:hover {
  transform: scale(1.05);
}
